body {
    font-family: "Roboto Mono", monospace;
    background-image: url("https://www.afcea.org/content/sites/default/files/field/image/GIS-F5-Cyborg-online%20pic%201.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding-top: 200px;
    min-height: 40rem;
  }
  
  .square {
    background-color: #ffffff;
    margin: 2rem 10rem;
    padding: 50px;
  }
  
  .page-title {
    color: #000000;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #000000;
    margin-top: 16px;
  }
  
  
  input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .resultado {
    color: #000000;
    text-align: center;
    margin-top: 16px;
  }
  